@import url('https://fonts.googleapis.com/css2?family=Adamina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Oleo+Script:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
}
html, body{
    overflow: hidden;
}

.textNormal{
    font-family: "Adamina", serif;
    font-weight: 400;
    font-style: normal;
}

.textTitle{
    font-family: "Oleo Script", system-ui;
    font-weight: 400;
    font-style: normal;
}

.content-Home{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.part1, .part2{
    height: calc(100vh - 20em);
    width: calc(100vw - 20em);
    display: flex;
    flex-direction: column;
    padding: 10em;
    overflow: hidden;
}

.part1 p, .part2 p{
    font-size: 4em;
    color: inherit;
}

.part1{
    position: relative;
    z-index: 10;
    background-color: #F0F0E5;
    align-items: flex-end;
    color: #F05859;
    box-shadow: 10px 0px 20px 0px #00000057;
}

.part2{
    position: relative;
    z-index: 5;
    background-color: #F05859;
    justify-content: flex-start;
    color: #F0F0E5;
}

.content-coracao{
    position: absolute;
    z-index: 12;
    display: flex;
    margin-top: 7em;
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.coracao{
    height: 200px;
    width: 250px;
    transition: all 1s;
    cursor: pointer;
    animation: core .5s linear;
}

.coracao:hover{
    transform: scale(1.2);
}

.part1.open{
    animation: open1 2s linear;
}

.part2.open{
    animation: open2 2s linear;
}

.opens{
    animation: coreOpen 2s ease-in-out;
}

@keyframes core {
    0%{
        transform: translateY(-200%) translateX(-200%) rotate(40deg) scale(2);

    }

    100%{
        transform: translateY(0) translateX(0) rotate(0) scale(1);
    }
}

@keyframes coreOpen {
    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(1);
    }

    100%{
        transform: scale(200);
    }
}

@keyframes open1 {
    100%{
        transform: translateX(-200%);
    }

    0%{
        transform: translateX(0);
    }
}

@keyframes open2 {
    100%{
        transform: translateX(200%);
    }

    0%{
        transform: translateX(0);
    }
}